<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Contato</title>
</head>
<body>
    <form action="" method="POST">
        <label for="name">Nome</label>
        <input type="text" name="name" id="name" required>
        <br>
        <label for="name">Email</label>
        <input type="text" name="email" id="email" required>
        <br>
        <button type="submit">Cadastrar</button>
        <div style="max-width: 110px; align-items: center;">
        <a href="{{ url_for('index') }}" class="botao" style="background-color: blue; color: white; padding: 10px; border-radius: 5px; display: flex; margin-top: 10px;">Voltar Inicio</a>
        </div>
    </form>
</body>
</html>