{% extends 'templates/base.html' %}
<!-- Janela de adicionado com sucesso -->
    {% block conteudo %}
    <div id="popup-container" class="popup-container">
        <div class="popup-content">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="message-container">
                {% for category, message in messages %}
                    {% if category == 'success' %}
                    <div class="alert-success" role="alert">
                        <p>{{ message }}</p>
                        <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
                    </div>
                    {% endif %}
                {% endfor %}
                </div>
            {% endif %}
            {% endwith %}
        </div>
    </div>    
<!--  -->

    <header>
        <div>
            <a href="{{ url_for('guiabjj_route') }}" class="back-button" style="display: block; text-decoration: none;">← Voltar para o Guia</a>
        </div>
        <!-- <button class="back-button" onclick="location.href='index.html'" style="display: block;">← Voltar para o Guia</button> -->
        <h1>Administração de Posições</h1>
        <p>Gerencie as posições, variações e passos</p>
    </header>

    <div class="controls admin-controls">
        <a href="{{ url_for('admin_route') }}" class="level-btn active">Iniciante</a> 
        <a href="{{ url_for('interadm_route') }}" class="level-btn">Intermediário</a> 
        <a href="{{ url_for('avancadm_route') }}" class="level-btn">Avançado</a> 
        <a href="{{ url_for('add_position_beginner') }}" class="add-position-btn">Adicionar Nova Posição</a> 
        <!-- <button class="level-btn active" data-level="beginner">Iniciante</button>
        <button class="level-btn" data-level="intermediate">Intermediário</button>
        <button class="level-btn" data-level="advanced">Avançado</button>
        <button class="add-position-btn">Adicionar Nova Posição</button> -->
    </div>

    <div id="admin-content-container">
        <h2 class="level-header">Gerenciar Posições para Iniciantes</h2>
        <div class="admin-list"> 
            
            {% for position in positions %} 

            <div class="admin-position-item">
                <span>{{ position.name }}</span>
                <span id="meuSpanOculto" hidden>{{ position.id }}</span>
                <div class="admin-position-actions">
                    <a class="action-btn edit-btn" href="{{ url_for('edit_position_beginner', position_id=position.id) }}" >Editar</a>
                     <form action="{{ url_for('delete_position_beginner', position_id=position.id) }}" method="post" onsubmit="return confirm('Tem certeza que deseja excluir esta posição?');" >
                        <button class="action-btn delete-btn" type="submit" >Excluir</button>
                    </form>
                </div>
            </div>
            
            {% endfor %}

        </div>
    </div>

{% endblock %}
