{% extends 'templates/base.html' %}

{% block conteudo %}
    <a href="{{ url_for('form_book_route') }}">Adicionar Novo Livro</a>
    <hr>
    <ul>
        {% for book in books %}
        <li>
            {{ book.title }} - {{ book.author }}
            <a href="{{ url_for('form_book_route', book_id=book.id) }}">Editar</a>
            <a href="{{ url_for('delete_book_route', book_id=book.id) }}" onclick="return confirm('Tem certeza que deseja deletar este livro?');">Deletar</a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}