<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{{ level.capitalize() }} Posições</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Posições de {{ level.capitalize() }}</h1>
    <a href="{{ url_for('list_books_route') }}">Voltar</a>
    <hr>
    
    {% for position in positions %}
    <div>
        <h2><a href="{{ url_for('show_position_details_route', position_id=position.id) }}">{{ position.name }}</a></h2>
        <p>{{ position.description }}</p>
        <img src="{{ url_for('static', filename='images/' + position.image) }}" alt="{{ position.name }}" style="max-width: 200px;">
    </div>
    <hr>
    {% endfor %}
</body>
</html>